body {
    background-color: midnightblue;
    color: aqua;
}

h1 {
    background-color: blueviolet;
}


h1, h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

table {
    display: block;
    width: 550px;
    border: 2px solid rgb(112, 135, 209);
    margin-left: auto;
    margin-right: auto;
}

.tag, .attribute {
    background-color: rgba(75, 41, 119, .5);
    font-family: monospace;
}
    

td {
    border-top: 1px solid rgb(112, 135, 209);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

th {
    background-color: rgba(112, 135, 209, .5);
    font-family: 'Open Sans', sans-serif;
}

tfoot td {
    text-align: center;
    background-color: rgba(112, 135, 209, .5);
}

